[Desktop Entry]
Name=Parrrot
Comment=Amateur Radio Voice Parrot Utility
Exec=parrrot
Icon=parrrot_icon_512
Terminal=false
Type=Application
Categories=Utility;HamRadio;
StartupWMClass=Parrrot
